<h1>Todas as tasks</h1>
<ul class="task-list">
    {{#each tasks}}
        <li>
            <a href="/" class="title">{{this.title}}</a>
            <p>{{this.description}}</p>
        </li>
    {{/each}}    
</ul>